<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Lista de Alunos</h1>
        <ul>
            {% for aluno in alunos %}

                {% if aluno == 'Jamily' %}
                    <li>
                        <strong>{{ aluno }}</strong>
                    </li>
                {% else %}
                    <li>{{ aluno}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</body>
</html>